@charset "UTF-8";
.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 12px;
}

.v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 30px;
}

.theme--dark.v-navigation-drawer {
  background: linear-gradient(195deg, #42424a, #191919) !important;
}

.v-navigation-drawer {
  max-width: 220px;
}

.v-list--dense .v-list-item .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list-item--dense .v-list-item__title {
  font-size: 0.8rem !important;
  font-weight: 500;
  line-height: 1rem;
}

.v-list-item__icon .v-icon.v-icon {
  font-size: 15px !important;
}

.appbar {
  left: 220px !important;
}

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 1px !important;
}

.v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 20px !important;
}

.v-list--nav.v-list--dense .v-list-item:not(:last-child):not(:only-child),
.v-list--nav .v-list-item--dense:not(:last-child):not(:only-child),
.v-list--rounded.v-list--dense .v-list-item:not(:last-child):not(:only-child),
.v-list--rounded .v-list-item--dense:not(:last-child):not(:only-child) {
  margin-bottom: 1px !important;
}

.v-list-item__action,
.v-list-item__avatar,
.v-list-item__icon {
  display: inline-flex;
  min-width: 20px !important;
}

table .v-data-table-header tr th {
  font-size: 0.7rem !important;
}

.mainapp {
  padding: 52px 0px 0px 220px !important;
}

.v-application ol,
.v-application ul {
  padding-left: 5px !important;
}

.v-main .container {
  padding: 5px !important;
}

.v-breadcrumbs {
  padding: 19px 8px !important;
}

header {
  height: 50px !important;
}

header .v-toolbar__content {
  height: 50px !important;
}

body {
  font-size: 12px !important;
}

.router-main-container {
  width: calc(100vw - 446px);
}

.v-list-item {
  min-height: 20px !important;
}

.v-list-item__icon {
  margin: 10px 0 !important;
}

.v-list-item__title {
  font-size: 0.8rem !important;
}

.v-list-group__header {
  background-color: #0d8ae9;
  color: white !important;
}

.active-route {
  background: #089acf;
}

.active-route div {
  color: white;
}

.v-list {
  padding-top: 0 !important;
}

tr.v-data-table__selected {
  background: #6ebaf3 !important;
}

.v-navigation-drawer {
  z-index: 2 !important;
}

.v-input input {
  font-size: 0.8rem;
}

/**
 * Pages imports
 */
/**
 * procurement imports
 */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #b96868;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "ï€";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pr-form-actions {
  display: flex;
  justify-content: flex-end;
}

.pr-form-if-bg-white {
  background-color: white;
}

.hidden {
  display: none;
}
